{
	"auths": {},
	"cliPluginsExtraDirs": [
		"{{ .brewPrefix }}/lib/docker/cli-plugins"
	] ,
	"credsStore": "osxkeychain",
	"currentContext": "{{ isExecutable (lookPath "docker") | ternary (output "docker" "context" "show" | trim) "default" }}"
}
