{
	"auths": {},
	"cliPluginsExtraDirs": [
		"{{ .brewPrefix }}/lib/docker/cli-plugins"
	] ,
	"credsStore": "osxkeychain",
	"currentContext": "{{ if lookPath "docker" }}{{ output "docker" "context" "show" | trim }}{{ else }}default{{ end }}"
}
